.nav {
  text-align: end;
}

.quote-info {
  font-size: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.quote {
  max-width: 500px;
  border-left: 3px yellowgreen solid;
  padding: 2rem;
  margin: 0 auto;
  margin-top: 200px;
}

.quote-author {
  margin-top: 2rem;
}

.random-quote-btn {
  margin-left: 22rem;
  font-size: 1rem;
  border: none;
  background-color: slateblue;
  font-weight: bold;
  padding: 1rem;
}

.random-quote-btn:hover {
  cursor: pointer;
}
